nav {
  height: 90vh;

  position: fixed;
  left: 3.4rem;
  margin-top: 5vh;

  display: flex;
  flex-direction: column;

}

.navList {
  display: flex;
  flex-direction: row-reverse;

  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.navList a {
  padding: 1rem 0.5rem;
}

.navIcons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.navIcons a {
  padding: 0.5rem 0.5rem;
}

.navIcons a:hover {
  color: var(--accent-color);
}

.navList a,
.navIcons a {
  color: var(--text-color);
  font-size: 0.9375rem;
}

button {
  display: none;
}

@media screen and (max-width: 650px) {
  nav {
    height: 100vh;
    background-color: var(--primary-color);
    inset: 0;
    margin-top: 0;
    justify-content: center;
    z-index: 1;
  }

  /* To be completed: make navbar background have a glassy effect  */
  nav::before{
    content: '';
    position: absolute;
    inset: 0;

  }

  .navList {
    width: 100%;
    height: 100vh;

    flex-direction: column;
    text-align: center;
    justify-content: center;

    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }

  .navIcons {
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    display: flex;
    flex-direction: row;
  }

  .logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  button {
    display: block;
    z-index: 3;
    aspect-ratio: 1;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
  }

  nav{
    top: -100%;
    transition: top 300ms ease-in-out;
  }

  nav.open {
    top: 0%;  
  }



}
