.nameTitle{
    font-size: clamp(2rem, 6vw, 6rem);
    font-weight: 600;
    z-index: 1;
    color: var(--text-color);
}

.educationTitle{
    font-size: clamp(0.7rem, 2vw, 1.5rem);
    font-weight: 200;
    z-index: 1;
    color: var(--text-color);
}

.traitsTitle {
    width: 100%;
    height: 3rem;
    display: block;
    position: relative;
    z-index: 1;
    color: var(--text-color);
}

.traitsTitle svg {
    height: 100%;
    position: absolute;
    z-index: 1;
}

.traitsTitle h1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    font-size: clamp(0.7rem, 2vw, 1.5rem);
    font-weight: 200;
    z-index: 0;
}

.hero{
    margin-left: 11vw;
    margin-top: 20vh;
}

/* svg {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
} */
