.backdrop {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}